<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Daj ponudu</title>
	
	</head>
	<body>
		<h3>Daj ponudu:</h3>
		<form th:action="@{'/fanzone/getOglasi/offer/' + ${oglas.id}}" th:object="${ponuda}" method ="post">
			<table>
				
				<tr>
					<td>Izons:</td>
					<td><input type = "text" th:field="*{iznos}"></td>
					<td th:if="${#fields.hasErrors('iznos')}" th:errors="*{iznos}">Iznos Error</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type = "submit" value="Ponudi"></td>
				</tr>
			</table>
		</form>
	</body>
</html>