
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Dodaj rekvizit</title>
	</head>
	<body>
		<h3>Dodaj Rekvizit:</h3>
		<form th:action="@{/fanzone/add}" th:object="${rekvizit}" method ="post">
			<table>
				
				<tr>
					<td>Slika:</td>
					<td><input type = "text" th:field="*{slika}"></td>
					 <td th:if="${#fields.hasErrors('slika')}" th:errors="*{slika}">Slika Error</td>
				</tr>
				<tr>
					<td>Ime:</td>
					<td><input type = "text" th:field="*{ime}"></td>
					<td th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}">Ime Error</td>
				</tr>
				<tr>
					<td>Cena:</td>
					<td><input type = "text" th:field="*{cena}"></td>
					 <td th:if="${#fields.hasErrors('cena')}" th:errors="*{cena}">Cena Error</td>
				</tr>
				<tr>
					<td>Opis:</td>
					<td><input type = "text" th:field="*{opis}"></td>
					<td th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}">Opis Error</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type = "submit" value="Save"></td>
				</tr>
			</table>
		</form>
		
	</body>
</html>