<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Dodaj oglas</title>
	
	</head>
	<body>
		<h3>Dodaj Oglas:</h3>
		<form th:action="@{/fanzone/getOglasi/addOglas}" th:object="${oglas}" method ="post">	
			<table>
				<tr>
					<td>Naziv:</td>
					<td><input type = "text" th:field="*{naziv}"></td>
					<td th:if="${#fields.hasErrors('naziv')}" th:errors="*{naziv}">Ime Error</td>
				</tr>
				<tr>
					<td>Datum:</td>
					<td><input type="date" id="dateTime" th:field="*{datum}"></td>
					<td th:if="${#fields.hasErrors('datum')}" th:errors="*{datum}">Datum Error</td>
				</tr>
				<tr>
					<td>Opis:</td>
					<td><input type = "text" th:field="*{opis}"></td>
					<td th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}">Opis Error</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type = "submit" value="Save"></td>
				</tr>
			</table>
		</form>
	</body>
	<script>
	//ne bas idealna validacija za datum isteka
		var dateTime = document.getElementById("dateTime").value;



		var today = new Date().toISOString().split('T')[0];

		document.getElementById("dateTime").setAttribute('min', today);
		</script>
</html>