<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dodaj bioskop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">  
<style>


.button {
position:relative;
margin-top:150px;
margin-left:-400px
}

.dugme {
position:relative;
margin-left:270px;

}

</style>


</head>
<body>

<div class="w3-content w3-container w3-padding-64" id="theatres">
<h3 class="w3-center">Add cinemas</h3>
<p class="w3-center"><em>You can add new cinemas</em></p>

<form th:action="@{/cinematheatre/add}" th:object="${bioskop}" method ="post">
			
			<table style="width:100%"><tbody>
			
<p><tr>
  <th>Name of Cinema: </th>
  <th><input type="text"th:field="*{name}"></th>
  </tr>  
</p>  
  

<p><tr>
  <th>Cinema address: </th>
  <th>
<input type="text" th:field="*{address}">
</th>
  </tr>  
 </p> 

<p><tr>
  <th>Description: </th>
  <th><input type="text" th:field="*{description}"></th>
  </tr>  
</p>  

<tr>
					<td>&nbsp;</td>
					<td><input class="dugme" type = "submit" value="Save changes">
					</td>
								
</tr>
</tbody>
  </table> </p>
		</form>
		
<div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
<button button type="button" class="button" onclick="location.href='Theatres.html'">Back</button>
</div>
</div>
</div>


</body>
</html>
