<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage</title>
	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="#">Pocetna</a></li>
				<li><a href="#">Pozorista</a></li>
				<li><a href="#">Bioskopi</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><span class="glyphicon glyphicon-user"></span></li>
				<li><a th:href="@{'/profile/' + ${user.id}}" th:text="${user.name}"></a></li>
				<li></li>
				<li><a href="/logout">Odjava</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<!-- Deo za bioskope -->
		<div class="col-md-6">
			<h3>Bioskopi koje ste posecivali: </h3>
			
			<table class="table table-hover">
				<tr>
					<th>Naziv</th>
					<th>Adresa</th>
				</tr>
				<tr th:each="cinema : ${user.visitedCinemaTheatre}">
					<th:block th:if="${cinema.type == T(rs.ac.uns.ftn.informatika.Cinema.model.CinemaTheatreType).CINEMA}">	
						<td> <a th:text="${cinema.name}" th:href="@{/homepage}"></a></td>
						<td th:text="${cinema.address}"></td>
					</th:block>
				</tr>
			</table>
		</div>
		
		<!-- Deo za pozorista -->
		<div class="col-md-6">
			<h3>Pozorista koje ste posecivali:</h3>
			
			<table class="table table-hover">
				<tr>
					<th>Naziv</th>
					<th>Adresa</th>
				</tr>
				<tr th:each="theatre : ${user.visitedCinemaTheatre}">
					<th:block th:if="${theatre.type == T(rs.ac.uns.ftn.informatika.Cinema.model.CinemaTheatreType).THEATRE}">	
						<td> <a th:text="${theatre.name}" th:href="@{/homepage}"></a></td>
						<td th:text="${theatre.address}"></td>
					</th:block>
				</tr>
			</table>
		</div>
	</div>
	<div class="container">	
		<!-- Deo za rezervacije -->
		<div class="col-md-6">
			<h3>Vasa rezervisana mesta:</h3>
			
			<table class="table table-hover">
				<tr>
					<th>Naziv filma/predstave</th>
					<th>Datum</th>
					<th>Vreme</th>
					<th></th>
				</tr>
				<tr th:each="reservation : ${user.reservations}">
					<td th:text="${reservation.projection.name}"></td>
					<td th:text="${reservation.projection.date}"></td>
					<td th:text="${reservation.projection.time}"></td>
					<td><a href="#">[otkazi]</a></td>		
				</tr>
			</table>
			
		</div>
		
		<!-- Deo za prijatelje -->
		<div class="col-md-6">
			<h3>Deo za prijatelje</h3>
		</div>
	
	</div>

	<script src="/scripts/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>