<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Izmeni pozorisne predstave</title>
	</head>
	<body>

	<h3>Izmeni Predstave:</h3>
	
	<form th:action="@{/cinematheatre/updatePredstave}" th:object="${predstava}" method ="post">
			<table>
				<tr>
					<td>Naziv:</td>
					<td><input type = "text" th:field="*{name}"></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
				</tr>
				
				<tr>
					<td>Zanr:</td>
					<td><input type = "text" th:field="*{genre}"></td>
					<td th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre Error</td>
				</tr>
				
				<tr>
					<td>Trajanje:</td>
					<td><input type = "text" th:field="*{duration}"></td>
					<td th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Duration Error</td>
				</tr>
				
				<tr>
					<td>Reditelj:</td>
					<td><input type = "text" th:field="*{director}"></td>
					<td th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Director Error</td>
				</tr>
				
				<tr>
					<td>Opis:</td>
					<td><input type = "text" th:field="*{description}"></td>
					
				</tr>
				
				<tr>
					<td>Cena:</td>
					<td><input type = "text" th:field="*{price}"></td>
				</tr>
				
				<tr>
					<td>Ocena:</td>
					<td><input type = "text" th:field="*{avgraiting}"></td>
				</tr>
				
				<tr>
					<td>Glumi:</td>
					<td><input type = "text" th:field="*{actors}"></td>
				</tr>
				
				<tr>
					<td>Datum:</td>
					<td><input type = "text" th:field="*{date}"></td>
				</tr>
				
				<tr>
					<td>Vreme:</td>
					<td><input type = "text" th:field="*{time}"></td>
				</tr>
				
				<tr>
					<td>Sala:</td>
					<td><input type = "text" th:field="*{hall}"></td>
				</tr>
				
				<tr>
				<td><a th:href="@{'/pozoriste/'  + ${predstava.id} + '/image'}" role="button">Change Image</a></td>
				<td><img th:src="@{'/pozoriste/' + ${predstava.id} + '/pozoristeimage'}" width="360" height="240"></td>
				</tr>
				
				<tr>
					<td>&nbsp;</td>
					<td><input type = "submit" value="Save">
						<input type = "hidden" th:field="*{id}">
					</td>
				</tr>
			</table>
		</form>


	</body>	
	
</html>	