<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
	    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		    <form th:action="@{/login}" method="POST">
		    	<h2>Unesite svoj e-mail i lozinku</h2>
		    
		    	<div th:if="${param.error}">
		    		<div class="alert alert-danger">
		    			<h4>Pogresan e-mail ili lozinka.</h4>
		    			<h4>Proverite da li ste aktivirali svoj nalog.</h4>
		    		</div>
		    	</div>
		    	
		    	<div th:if="${param.logout}">
		    		<div class="alert alert-info">
		    			<h4>Uspesno ste se izlogovali.</h4>
		    		</div>
		    	</div>
		    
		        <input type="text" id="email" name="email"  th:placeholder="Email" class="form-control input-lg"
		        		required="true" autofocus="true"/> <br/> 
		        <input type="password" id="password" name="password" th:placeholder="Lozinka"
		        		class="form-control input-lg" required="true"/> <br/>
		        <input type="submit" value="Prijava" class="btn btn-lg btn-primary btn-block"/>
		    </form>
		    <h5 align="center">Nemate nalog?<a href="/registration">  Pridruzite nam se</a></h5>
		</div>
	</div>
	<script src="/scripts/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/bootstrap.min.js"></script>	
</body>
</html>