<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Moji oglasi</title>
	</head>
	<body>
		<h3>Moji oglasi</h3>
		<a th:href = "@{/fanzone/getOglasi/addOglas}">Novi oglas</a>
		<table border = "1">
			<tr>
				<th>Id</th>
				<th>Slika</th>
				<th>Naziv</th>
				<th>Datum</th>
				<th>Opis</th>
				<th>Odobren</th>
				<th>Opcije</th>
			</tr>
			<tr th:each="oglas, iterStat: ${user.mojiOglasi}">
				<td th:text="${oglas.id}"></td>
				<td><img th:src="@{'/oglas/' + ${oglas.id} + '/oglasimage'}" width="30" height="30"></td>
				<td th:text="${oglas.naziv}"></td>
				<td th:text="${oglas.datum}"></td>
				<td th:text="${oglas.opis}"></td>
				<td th:text="${oglas.odobren}"></td>
				<td>
					<div th:if = "${oglas.odobren} == true"><a th:href = "${'/fanzone/getOglasi/ponudeprim/' + oglas.id}">Ponude</a></div>
					<div th:if = "${!oglas.odobren}"><a th:href="${'/fanzone/getOglasi/show/' + oglas.id}">Detaljnije</a></div>
				</td>
			</tr>
		
		</table>
	</body>
</html>