<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Svi oglasi</title>
	</head>
	<body>
		<h1>Svi korisnicki oglasi</h1>
		<!-- <a th:href = "@{/fanzone/getOglasi/addOglas}">Novi oglas</a>-->
		<a th:href = "@{/fanzone/getOglasi/mojiOglasi}">Moji oglasi</a>
		
		<table border = "1">
			<tr>
				<th>Id</th>
				<th>Slika</th>
				<th>Naziv</th>
				<th>Opis</th>
				<th>Datum isteka</th>
				<th>Opcije</th>
			</tr>
			<tr th:each="oglas, iterStat: ${oglasi}"  th:if="${oglas.odobren} == true">
				
				<td th:text="${oglas.id}"></td>
				<td><img th:src="@{'/oglas/' + ${oglas.id} + '/oglasimage'}" width="30" height="30"></td>
				<td th:text="${oglas.naziv}"></td>
				<td th:text="${oglas.opis}"></td>
				<td th:text="${oglas.datum}"></td>
				<td>
					<div th:if = "${oglas.user} != ${user}"><a th:href = "${'/fanzone/getOglasi/ponude/' + oglas.id}">Ponude</a></div>
				</td>
			</tr>
		</table>
	</body>
</html>