<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ponude</title>
	</head>
	<body>
		<div th:if = "${error}" th:text = "${error}"></div>
		<h1>Ponude za:</h1>
		<p th:text = "${oglas.naziv}"></p>
		<p><img th:src="@{'/oglas/' + ${oglas.id} + '/oglasimage'}" width="100" height="100"></p>
		<div th:if = "${ok}"><a th:href="@{'/fanzone/getOglasi/offer/' + ${oglas.id}}">Daj ponudu</a></div>
		<a th:href="@{'/fanzone/getOglasi/obavestenja/' + ${oglas.id}}">Obavestenja o oglasu</a>
		<table border = "1">
			<tr>
				<th>Id</th>
				<th>Iznos</th>
				<th>Ponudjac</th>
				<th>Opcije</th>
			</tr>
			<tr th:each="ponuda, iterStat: ${oglas.ponudeZaOglas}">
				
				<td th:text="${ponuda.id}"></td>
				<td th:text="${ponuda.iznos}"></td>
				<td th:text="${ponuda.user.email}"></td>
				<td><div th:if = "${ok}"><a th:href="${'/fanzone/getOglasi/updateoffer/' + ponuda.id}">Izmeni</a></div></td>		
			</tr>
		</table>
		
	</body>
</html>