<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ponude</title>
	</head>
	<body>
		<h1>Ponude za:</h1>
		<p th:text = "${oglas.naziv}"></p>
		<a th:href="@{'/fanzone/offer/' + ${oglas.id}}">Daj ponudu</a>
		<a th:href="@{'/fanzone/obavestenja/' + ${oglas.id}}">Obavestenja o oglasu</a>
		<table border = "1">
			<tr>
				<th>Id</th>
				<th>Iznos</th>
				<th>Ponudjac</th>
			</tr>
			<tr th:each="ponuda, iterStat: ${oglas.ponudeZaOglas}">
				
				<td th:text="${ponuda.id}"></td>
				<td th:text="${ponuda.iznos}"></td>
				<td th:text="${ponuda.user.email}"></td>		
			</tr>
		</table>
	</body>
</html>