<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projekcija</title>
	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/styles/jquery.seat-charts.css"/>
	
	<style>
		div.seatCharts-cell {
			color: #182C4E;
			height: 25px;
			width: 25px;
			line-height: 25px;
		}
		div.seatCharts-seat {
			color: #FFFFFF;
			cursor: pointer;	
		}
		div.seatCharts-row {
			height: 35px;
		}
		div.seatCharts-seat.available {
			background-color: #e8e8e8;
		}
		div.seatCharts-seat.available.first-class {
			background-color: #d1d1d1;
		}
		div.seatCharts-seat.focused {
			background-color: #ccffd4;
		}
		div.seatCharts-seat.selected {
			background-color: #93eaa2;
		}
		div.seatCharts-seat.unavailable {
			background-color: #35373d;
		}
	</style>
</head>
<body>
	<div class="container">
		<div th:if="${error}" class="alert alert-danger" th:text=${error}></div>
		
		<div th:if="!${error}">
			<h1><u th:text="${projection.name}"></u></h1>
			
			<div class="col-md-4">
				<img src="http://www.thesugarclub.com/content/cache/85dd71a0df47248f/la-haine-original1_335_486.jpg" width="180" height="300">
			</div>
			
			<div class="col-md-8">
				<h4 th:text="'Pocinje: ' + ${projection.date}"></h4>
				<h4 th:text="'Traje: ' + ${projection.duration}"></h4>
				<h4 th:text="'Sala: ' + ${projection.hall.name}"></h4>
				<h4 th:text="'Cena: ' + ${projection.price}"></h4>
				<h4 th:text="'Reditelj: ' + ${projection.director}"></h4>
				<h6><i th:text="${projection.genre}"></i></h6>
				<br>
				<h4>Kratak opis:</h4>
				<p th:text="${projection.description}"></p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div th:if="!${error}">
			<br>
			<h3>Rezervisite svoje mesto na vreme!</h3>
			
			<div class="col-md-6">
				<div id="seat-map">
				</div>
			</div>
			<div class="col-md-6">
				<div class="booking-details">
					<h5>Izabrana mesta(<span id="counter">0</span>):</h5>
					<ul id="selected-seats">
					</ul>
					Ukupno: <b>$<span id="total">0</span></b>
					<button id="checkout" class="checkout-button">Checkout</button>
					<br>
					<br>
					<div id="legend">
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/scripts/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script src="/scripts/jquery.seat-charts.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var firstSeatLabel = 1;
		
		$(document).ready(function() {
			var $cart = $('#selected-seats'),
				$counter = $('#counter'),
				$total = $('#total'),
				sc = $('#seat-map').seatCharts({
				map: /*[[${seatConfig}]]*/ [],
				seats: {
					s: {
						price   : /*[[${projection.price}]]*/ 1,
						classes : 'first-class', 
						category: 'Obicno mesto'
					}				
				},
				naming : {
					top : false,
					getLabel : function (character, row, column) {
						return firstSeatLabel++;
					},
				},
				legend : {
					node : $('#legend'),
				    items : [
						[ 's', 'available',   'Slobodno mesto' ],
						[ 's', 'unavailable',   'Zauzeto mesto' ]
					]					
				},
				click: function () {
					if (this.status() == 'available') {
						//let's create a new <li> which we'll add to the cart items
						$('<li>'+this.data().category+' Sediste # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
							.attr('id', 'cart-item-'+this.settings.id)
							.data('seatId', this.settings.id)
							.appendTo($cart);
							
						/*
						 * Lets update the counter and total
						 *
						 * .find function will not find the current seat, because it will change its stauts only after return
						 * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
						 */
						$counter.text(sc.find('selected').length+1);
						$total.text(recalculateTotal(sc)+this.data().price);
							
						return 'selected';
					} else if (this.status() == 'selected') {
						//update the counter
						$counter.text(sc.find('selected').length-1);
						//and total
						$total.text(recalculateTotal(sc)-this.data().price);
						
						//remove the item from our cart
						$('#cart-item-'+this.settings.id).remove();
						
						//seat has been vacated
						return 'available';
					} else if (this.status() == 'unavailable') {
						//seat has been already booked
						return 'unavailable';
					} else {
						return this.style();
					}
				}
				});

			//this will handle "[cancel]" link clicks
			$('#selected-seats').on('click', '.cancel-cart-item', function () {
				//let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
				sc.get($(this).parents('li:first').data('seatId')).click();
			});

			//klik na checkout dugme
			$('#checkout').click(function(e){
				e.preventDefault();
				var reservation = {
						seats : sc.find('selected').seatIds
				}				
				
				str = JSON.stringify(reservation);
				console.log('Selektovana mesta: ' + str);
				
				$.ajax({
					type: "POST",
					url: "/api/seats/reservation",
					data: JSON.stringify(reservation),
					contentType:"application/json; charset=utf-8",
					dataType:"json",
					success: function() {
						str = JSON.stringify(reservation);
						console.log('SUCESS - Selektovana mesta: ' + reservation);
					}
					
				});
			});
			
			//let's pretend some seats have already been booked
			sc.get(['1_2', '4_1', '4_5']).status('unavailable');
		
		});

		function recalculateTotal(sc) {
			var total = 0;
		
			//basically find every selected seat and sum its price
			sc.find('selected').each(function () {
				total += this.data().price;
			});
			
			return total;
		}
		
		/*]]>*/
	</script>
</body>
</html>