<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Filmske Projekcije</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
	<body>
	
	<div class="w3-content w3-container w3-padding-64" id="cinemas">
  	<h3 class="w3-center">MOVIES</h3>
  	<p class="w3-center"><em>All available movies for this cinema</em></p>
  	<a th:href="@{'/cinematheatre/getProjekcije/'  + ${bioskop.Id} + '/addProjekcije'}"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj novu projekciju</a>
  		 <table style="width:100%">	
		
			<tr>
				<th>Naziv</th>
				<th>Zanr</th>
				<th>Trajanje</th>
				<th>Reditelj</th>
  				<th>Opis</th>
  				<th>Cena</th>
  				<th>Ocena</th>
			</tr>
			
			<tr th:each="projekcija, iterStat: ${bioskop.projections}">
				
				<td><a th:href="@{'/cinematheatre/getProjekcije/' + ${bioskop.Id} + '/' + ${projekcija.Id}}" th:text="${projekcija.name}"></a></td>
				<td th:text="${projekcija.genre}"></td>
				<td th:text="${projekcija.duration}"></td>
				<td th:text="${projekcija.director}"></td>
				<td th:text="${projekcija.description}"></td>
				<td th:text="${projekcija.price}"></td>
				<td th:text="${projekcija.avgraiting}"></td>
				<td><a th:href="${'/cinematheatre/updateProjekcije/' + projekcija.Id}">Izmeni</a></td>
				<td><a th:href="${'/cinematheatre/deleteProjekcije/' + projekcija.Id}">Obrisi</a></td>	
			</tr>
			
			
			</table>
			
	 </div>	
	</body>
</html>
			