<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registracija</title>
</head>
<body>
	<h1>Registracija</h1>
	<form action="#" th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
			<input type="text" th:placeholder="Email" th:field="*{email}"/>
			<br>
			<input type="text" th:placeholder="Ime" th:field="*{name}"/>
			<br>
			<input type="text" th:placeholder="Prezime" th:field="*{lastname}"/>
			<br>
			<input type="text" th:placeholder="Grad" th:field="*{city}"/>
			<br>
			<input type="text" th:placeholder="Telefon" th:field="*{phone}"/>
			<br>
			<input type="password" th:placeholder="Lozinka" th:field="*{password}"/>
			<br>
			<input name="submit" type="submit" value="Potvrda"/>
	</form>
</body>
</html>