
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Naslovna</title>
	</head>
	<body>
		<h3>Rekviziti</h3>
		<a th:href="@{/fanzone/myReservations}">Moje rezervacije</a>
		<table border = "1">
			<tr>
				<th>Id</th>
				<th>Slika</th>
				<th>Ime</th>
				<th>Cena</th>
				<th>Opis</th>
				<th>Opcije</th>
			</tr>
			<tr th:each="rekvizit, iterStat: ${rekviziti}">
				<td th:text="${rekvizit.id}"></td>
				<td><img th:src="@{'/rekvizit/' + ${rekvizit.id} + '/rekvizitimage'}" width="30" height="30"></td>
				<td th:text="${rekvizit.ime}"></td>
				<td th:text="${rekvizit.cena}"></td>
				<td th:text="${rekvizit.opis}"></td>
				<td>
					<div th:if="${rekvizit.rezervisan} == false"><a th:href="${'/fanzone/reserve/' + rekvizit.id}">Rezervisi</a></div>
					<div th:if="${rekvizit.rezervisan} == true"><p>Rezervisano</p></div>
				</td>

			</tr>
		</table>
	</body>
</html>