<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ticket</title>
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrapLogin.min.css"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>

.ticket-list .panel-heading {
    background-color:#F4F8F9;
    border-bottom: none;
}
.ticket-list .panel-body {
    background-color:#F4F8F9;
}
.ticket-list .table-head{
    border: none;  
}

.cinema {
  font: italic 13px/30px Georgia, serif;
}

.projection {

 font: italic bold 24px/30px Georgia, serif;

}

</style>

</head>

<body>
<div class="container">
	<div class="row">
    	<div class="col-md-8 col-md-offset-2">
    	    <div class="panel panel-default ticket-list">
              <div class="panel-heading">
                <h3 class="panel-title text-center">Ticket</h3>
              </div>
              <div class="panel-body ">
              <a th:href="@{'/cinematheatre/getCinema/'  + ${bioskop.Id} + '/addCinemaTickets'}">Dodaj novu kartu</a>
              
                  <table class="table">
                      <tr>
                        <td th:text="${bioskop.name}" class="cinema" ></td>
                        <td th:text="${bioskop.address}" class="cinema" ></td>
                      </tr>
                    <tbody th:each="karta, iterStat: ${karte}">
                      <tr class="projection">
                        <td th:text="${karta.projekcija.name}"></td>
                      </tr>
                      <tr>
                        <td>HALL</td>
                        <td>SEAT</td>
                        <td>PRICE</td>
                      </tr>
					<tr>
                        <td th:text="${karta.projekcija.hall.name}"></td>
                        <td th:text="${karta.seat}"></td>
                        <td th:text="${karta.projekcija.price}"></td>
                      </tr>
					                      
                      <tr>
                        <td>DISCOUNT</td>
                        <td>DATE</td>
                        <td>TIME</td>
                      </tr>
                      <tr>
                        <td th:text="${karta.discount}"></td>
                        <td th:text="${karta.projekcija.date}"></td>
                        <td th:text="${karta.projekcija.time}"></td>
                        <td>
					<div th:if="${karta.rezervisana} == false"><a th:href="${'/cinematheatre/cinemaTicketsReserve/' + karta.id}">Rezervisi</a></div>
					<div th:if="${karta.rezervisana} == true"><p>Rezervisano</p></div>
					   </td>
                      </tr>
                    </tbody>
                  </table>  
                  
                  		 
                    	
              </div>
            </div>
    	</div>
	</div>
</div>

</body>

</html>
